@import url("https:\/\/fonts.googleapis.com\/css?family=Monda:700");

#main_body {
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: auto;
}

body {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("..\/..\/..\/public\/assets\/bg_blur_file.jpg");
    background-size: cover;
}

#title {
    position: relative;
    width: 485px;
    height: 254px;
    left: 10vw;
    top: 128px;

    font-family: 'Monda';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 65px;

    color: #FFFFFF;
}

@media (max-width: 420px) {
    #title {
        width: 90vw;
        left: 5vw;
        font-size: 30px;
        font-weight: 500;
    }
}

#input_form {
    padding-left: 10vw;
    padding-top: 200px;
}

#colName {
    font-weight: 150;
    font-size: 20px;
    padding-top: 30px;
    color: blanchedalmond;
}

#limiter {
    color: #AAA8F4;
    font-style: italic;
}

#result {
    display: flex;
    justify-content: left;
}

#result_text {
    color: #AAA8F4;
    font-size: 25px;
}

#result_text_main {
    display: flex;
    font-size: 25px;
    color: #ff0095;
}

#submit_btn {
    outline: 0;
    display: inline-block;
    padding: 10px 40px;
    font-size: 15px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #4effbb;
    background: #55ffc9;
    color: #000;
    font-weight: 600;
    transition: box-shadow 0.2s ease-out;
}

#submit_btn:hover {
    background-color: #9cedff;
    color: #000;
    box-shadow: 0 0 5px #a0e2ff,
        0 0 10px rgba(83, 226, 255, 0.8),
        0 0 25px rgba(92, 247, 255, 0.7),
        0 0 25px rgba(103, 247, 255, 0.6);
    border-color: #fff;
}

#warning {
    color: rgb(247, 147, 147);
}

#scale {
    color: rgb(255, 0, 0);
}

.text_box {
    width: 100px;
    height: 20px;
    background: #041e33;
    font-size: 20px;
    color: white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 15px 18px;
    font-size: large;
    font-weight: 300;
}




.cat_drop {
    background-color: #041e33;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    appearance: button;
    outline: none;
}

.cat_drop::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.cat_drop:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}